body {
  background-color: rgb(221, 151, 125);
}
.container {
  width: 300px;
  height: 500px;
  position: relative;
}
.heading {
  width: 600px;
  position: absolute;
  left: 350px;
  top: 50px;
  font-size: 20px;
  color: blue;
}
.form {
  position: absolute;
  top: 200px;
  left: 500px;
  border: 1px solid black;
}
.result input {
  width: 300px;
  border: none;
  background-color: red;
  height: 150px;
  color: white;
  font-size: 50px;
}

.row1 input[type="button"] {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #ecedef;
  border: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-weight: 700;
  color: #5e5858;
  cursor: pointer;
}
