h1 {
  text-align: center;
}
.container {
  height: 300px;
  width: 500px;
  background-color: pink;
  margin-left: 450px;
  margin-top: 50px;
  overflow: scroll;
}
.heading {
  height: 25px;
  background-color: red;
  text-align: center;
  position: sticky;
  top: 0;
}
.contacts {
  height: 25px;
  background-color: blue;
  text-align: center;
  border: 1px solid black;
}
